@import "~bootstrap/dist/css/bootstrap.css";
.card {
  margin: 60px 60px;
  border: 1px solid #ebedf2;
}

.card .card-body {
  padding: 20px 30px;
  color: #313131;

}

.card .card-title {
  color: #313131;
  margin-bottom: 0.75rem;
  font-weight: 500;
}


body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #212529;
  font-family: 'Roboto', sans-serif !important;
}


.p-1 {
  padding: 1px;
}

.section-card {
  display: block;
  margin: 50px 100px;
}

.card {
  border: 1px solid #ebedf2;
}

.card .card-body {
  padding: 20px 30px;
  color: #313131;

}

.grid-margin {
  margin-bottom: 30px;

}
